/* Limpiamos el root para que las franjas ocupen todo el ancho */
#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0; /* Quitamos el padding para que el color toque las orillas */
  text-align: left;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  background-color: #f5f5f5; /* Fondo general por si acaso */
}

/* --- CLASES DE LA APP --- */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffffff;
}

.header-title {
  color: #004D99;
  margin: 30px 0;
}

.matches-container {
  width: 100%;
}

/* Contenedor de cada partido (La franja horizontal) */
.match-section {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box; /* Evita que el padding rompa el 100% del ancho */
}

/* Colores cebra */
.bg-gris-tenue {
  background-color: #e0e0e0;
}

.bg-blanco-roto {
  background-color: #FAFAFA;
}

/* 1. El contenedor ahora usa Grid para ser 100% responsivo */
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Esto empuja TODAS las tarjetas al centro juntas */
  gap: 30px; /* LA CLAVE: El espacio entre tarjetas SIEMPRE será de 30px, ni más ni menos */
  width: 100%;
  margin: 0 auto;
  gap: 100px; /* Prueba subiéndolo de 30px a 40px o 50px */
}


/* Título opcional del partido */
.match-title {
  color: #555;
  font-size: 1.1rem;
  margin-bottom: 25px;
  font-weight: 600;
}
