/* 1. Quitamos los márgenes que el navegador pone por defecto */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Evita que aparezca una barra de scroll horizontal */
}

/* 2. Matamos los estilos por defecto de Vite/React */
#root {
  width: 100%;
  max-width: none !important; /* Vite suele ponerle 1280px, esto lo anula */
  padding: 0 !important;      /* Vite suele ponerle 2rem, esto lo anula */
  margin: 0;
}